<div class="container">
  <br>
  <div>
    <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
  </div>
  <div class="row">
    <div class="col-6">
    <h3>User Details</h3>
    <ul>
      <li>First name: <%= @user.first_name %></li>
      <li>Last name: <%= @user.last_name %></li>
      <li>Username: <%= @user.user_name %></li>
      <li>Email: <%= @user.email %></li>
    </ul>
  </div>
  <div class="col-6">
    <li><%= link_to "Change password", edit_user_password_path %></li>

  </div>

</div>
