<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/mathieurobin1/image/upload/v1566489589/Vintago_logo_red_w8iyyx.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
      <li class="nav-item">
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      </li>
      <% if user_signed_in? == false  %>
      <li class="nav-item">
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link"%></li>
      </li>
      <li class="nav-item">
        <li><%= link_to "Sign in", new_user_session_path, class: "nav-link"%></li>
      </li>
      <% end %>
      <% if user_signed_in? %>
      <li class="nav-item">
        <li><%= link_to "Add a car", new_car_path, class: "nav-link" %></li>
      </li>
      <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/mathieurobin1/image/upload/v1566488897/Steering_Wheel_fb6ihw.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
            <%= link_to "My Bookings", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
    </ul>
  </div>
</div>
