<div class="container">
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @car.photo, height: 300, width: 400, crop: :fill %>')">

    <h2><%= @car.brand %> <%= @car.model %> </h2>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Car Details</h2>
      <ul>
        <li><i class="fas fa-car mr-2" ></i><%= @car.brand %></li>
        <li><i class="fas fa-hammer mr-2"></i><%= @car.year %></li>
        <li><i class="fas fa-flag-usa mr-2"></i><%= @car.origin %></li>
        <li><i class="fas fa-map-marker-alt mr-2"></i><%= @car.location %></li>
      </ul>
    </div>
    <div class="col-4">
      <h2>Car Owner</h2>
      <ul>
        <li><%= @car.user.first_name %></li>
        <li><%= @car.user.last_name %></li>
        <li>Email: <%= @car.user.email %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Review</h2>
      <% @car.bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>
          <li><%= review.content %></li>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <h2>Bookings</h2>
      <%= simple_form_for [@car, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.submit "Book now" %>
      <% end %>
      <br>
    <h2>Booking Table</h2>
    <% @car.bookings.each do |booking| %>
    <ul>
      <li><%= booking.date %></li>
    </ul>
    <% end %>
    </div>
  </div>
  <div class="container">
  </div>
</div>
