<div class="container py-3">
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @car.photo, height: 300, width: 400, crop: :fill %>')">

    <h2><%= @car.brand %> <%= @car.model %> </h2>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
        <div class="card p-3 mb-3">
          <div class="card-car-owner">
            <img src="https://uidesign.gbtcdn.com/gb_blog/author/Steve-Lowry-2.png" />
            <div class="card-car-owner-info">
              <h2>
                <strong>Car Owner</strong>
              </h2>
              <p> <%= @car.user.first_name %> <%= @car.user.last_name %>|
                <%= @car.user.email %>
              </p>
            </div>
          </div>
        </div>
        <div class="card p-3 mb-3">
          <h2>
            <strong>Car Details</strong>
          </h2>
          <br>
          <p>
            <i class="fas fa-car mr-2" ></i><%= @car.brand %> |
            <i class="fas fa-hammer mr-2"></i><%= @car.year %> |
            <i class="fas fa-flag-usa mr-2"></i><%= @car.origin %> |
            <i class="fas fa-map-marker-alt mr-2"></i><%= @car.location %> |
            <i class="fas fa-dollar-sign mr-2"></i><%= @car.price %> per day
          </p>
          <p><%=@car.content%></p>
        </div>
        <div class="card p-3 mb-3">
          <h2>
            <strong>Reviews</strong>
          </h2>
          <br>
          <% @car.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <li><%= review.content %>  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"> <i>Juan from Lima, Peru</i></i></li>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card bg-light p-3 mb-3">
        <h2> <strong> Bookings </strong> </h2>
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :date %>
          <%= f.submit "Book now",  class: "btn btn-danger btn-lg btn-block", "data-toggle": "modal", "data-target": "#exampleModalCenter" %>
        <% end %>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> <strong>Confirmation</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <p>Thanks for your reservation</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

  </div>
      <div class="card bg-light p-3 mb-3">
        <h2> <strong> Booking Table </strong> </h2>
        <% @car.bookings.each do |booking| %>
        <ul>
          <li><%= booking.date %></li>
        </ul>
      <% end %>
      </div>
    </div>
    </div>
  </div>
  <br>
</div>
